<!--박지영-->
<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" th:href="@{/css/managerView.css}">
</head>
<body>

<div id="header">
    <h1>상담 추가</h1>
    <div class="log">로그아웃</div>
    <div class="home">
        <a href="/manager/home">
            <img src="https://img.icons8.com/material-outlined/24/home--v2.png" alt="home--v2" />
        </a>
    </div>
</div>

<form name="form" action="/manager/management/chugaProc" method="post">
    <table>
        <tr>
            <th>내담자 번호</th>
            <td><input type="number" name="member_no"></td>
        </tr>
        <tr>
            <th>상담사 번호</th>
            <td><input type="number" name="counselor_no"></td>
        </tr>
        <tr>
            <th>학교 번호</th>
            <td><input type="number" name="school_no"></td>
        </tr>
        <tr>
            <th>학년</th>
            <td><input type="text" name="grade"></td>
        </tr>
        <tr>
            <th>학생 이름</th>
            <td><input type="text" name="studentName"></td>
        </tr>
        <tr>
            <th>고민 내용</th>
            <td>
                <textarea name="concern" style="width: 200px; height: 100px;"></textarea>
            </td>
        </tr>
        <tr>
            <th>상담일</th>
            <td><input type="date" name="meetingDate"></td>
        </tr>
        <tr>
            <th>상담 지역</th>
            <td>
                <input type="button" onclick="execDaumPostcode()" value="우편번호 찾기"><br>
                <input type="text" id="location_address" name="address" placeholder="주소"><br>
                <input type="text" id="location_detailAddress" name="addressDetail" placeholder="상세주소">
            </td>
        </tr>
        <tr>
            <th>상담 기록</th>
            <td>
                <textarea name="comments" style="width: 200px; height: 100px;"></textarea>
            </td>
        </tr>
        <tr>
            <th>상담 첨부파일</th>
            <td>
                <textarea name="attachment" style="width: 200px; height: 100px;"></textarea>
            </td>
        </tr>
        <tr>
            <th>구분</th>
            <td>
                <input type="radio" name="checks" value="진행중" checked>진행중
                <input type="radio" name="checks" value="진행완료" disabled>진행완료
            </td>
        </tr>
    </table>
</form>

<div id="nav">
    <div onclick="chuga();" style="cursor:pointer;"><a>확인</a></div>
    <div><a href="/manager/management/list">취소</a></div>
</div>

<script>
    function chuga() {
        document.form.submit();
    }
</script>

<script src="//t1.daumcdn.net/mapjsapi/bundle/postcode/prod/postcode.v2.js"></script>
<script>
    function execDaumPostcode() {
        new daum.Postcode({
            oncomplete: function(data) {
                var fullAddr = '';
                var addr = '';
                var extraAddr = '';

                if (data.userSelectedType === 'R') {
                    addr = data.roadAddress;
                } else {
                    addr = data.jibunAddress;
                }

                if(data.userSelectedType === 'R'){
                    if(data.bname !== '' && /[동|로|가]$/g.test(data.bname)){
                        extraAddr += data.bname;
                    }

                    if(data.buildingName !== '' && data.apartment === 'Y'){
                        extraAddr += (extraAddr !== '' ? ', ' + data.buildingName : data.buildingName);
                    }

                    if(extraAddr !== ''){
                        extraAddr = ' (' + extraAddr + ')';
                    }
                }

                fullAddr = addr + ' (' +data.zonecode + ')' + extraAddr;
                document.getElementById("location_address").value = fullAddr;
                document.getElementById("location_detailAddress").focus();
            }
        }).open();
    }
</script>

</body>
</html>