<!--박지영-->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<a href="/">로고</a>

<form name="form" action="/loginProc" method="post">
<table>
    <tr>
        <td>선택</td>
        <td>
            <input type="radio" name="check" value="일반" checked>일반
            <input type="radio" name="check" value="상담사">상담사
        </td>
    </tr>
    <tr>
        <td>아이디 :</td>
        <td><input type="text" name="id"></td>
    </tr>
    <tr>
        <td>비밀번호 :</td>
        <td><input type="password" name="pwd"></td>
    </tr>
    <tr>
        <td>
            <button>확인</button>
        </td>
    </tr>
</table>
</form>

</body>
</html>