<!--박지영-->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<form id="logoutForm" method="post" action="/user/home/home">
</form>
<form id="noLogoutForm" method="post" action="/user/home/homeImsi">

</form>

<script>
    function logout() {
      if (confirm("로그아웃 하시겠습니까?")) {
        alert("로그아웃 되었습니다.");
        document.getElementById("deleteForm").submit();
      } else {
        document.getElementById("backForm").submit();
      }
    }
    deleteManager();
</script>

</body>
</html>