<!--박지영-->
<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<a href="/">로고</a><br>

<a href="/management/counselor/list">나의 상담내역 보기</a>
<a href="/management/counselor/allList">미배정 상담 신청서 보기</a>

<h1>미배정 상담 신청서 보기</h1>

<table>
  <tr>
    <th>순번</th>
    <th>내담자</th>
    <th>학교</th>
    <th>신청일</th>
    <th>상담예약하기</th>
  </tr>

  <tr th:each="managementDTO, loop : ${list}">
    <td>[[${loop.count}]]</td>
    <td><a th:href="@{|/management/counselor/getUserInfo/${managementDTO.no}|}">[[${managementDTO.member.name}]]</a></td>
    <td>[[${managementDTO.school.name}]]</td>
    <td th:text="${#temporals.format(managementDTO.regiDate, 'yyyy-MM-dd HH:mm:ss')}"></td>
    <td><div><a th:href="@{|/management/counselor/yeyak/${managementDTO.no}|}">예약</a></div></td>
  </tr>
</table>

</body>
</html>