<!--김태준-->
<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<a href="/">로고</a><br>

<a href="/management/counselor/list">나의 상담내역 보기</a>
<a href="/management/counselor/allList">미배정 상담 신청서 보기</a>

<h1>나의 상담내역 보기</h1>

<table>
    <tr>
        <th>순번</th>
        <th>내담자</th>
        <th>상담일</th>
        <th>처리 상태</th>
        <th>상담 내역 보기</th>
    </tr>

    <div th:if="${list.size() == 0}">
        <td colspan="5">신청된 상담 내역이 없습니다.</td>
    </div>
    <div th:unless="${list.size() == 0}">
        <tr th:each="managementDTO, loop : ${list}">
            <td>[[${loop.count}]]</td>
            <td><a th:href="@{|/management/counselor/getUserInfo/${managementDTO.no}|}">[[${managementDTO.member.name}]]</a></td>
            <td>[[${managementDTO.meetingDate}]]</td>
            <td>[[${managementDTO.checks}]]</td>
            <td><div><a th:href="@{|/management/counselor/view/${managementDTO.no}|}">버튼</a></div></td>
        </tr>
    </div>
</table>

<script>
    function move() {
        document.form.submit();
    }
</script>

</body>
</html>