<!--박지영-->
<!--김태준 : html 수정-->
<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" th:href="@{/css/managerList.css}">
</head>
<body>
<h1>프로그램 목록</h1>
<div id="main">
    <div id="nav">
        <div><a href="/manager/home"><img src="https://img.icons8.com/material-outlined/24/home--v2.png"
                                          alt="home--v2"/></a></div>
        <select class="search">
            <option selected>===선택===</option>
            <option th:value="name" th:text="이름"></option>
            <option th:value="phone" th:text="전화번호"></option>
            <option th:value="type" th:text="구분"></option>
        </select>
        <input type="text" id="search">
        <button>search</button>
    </div>
    <div class="chuga"><a href="/manager/program/chuga">추가</a></div>
    <table>
        <thead>
        <tr>
            <th>제목</th>
            <th>프로그램구분</th>
            <th>시작일</th>
            <th>종료일</th>
            <th>진행단계</th>
            <th>작성일</th>
        </tr>
        </thead>
        <tr th:each="programDTO, loop:${list}">
            <td><a th:href="@{|/manager/program/view/${programDTO.no}|}" th:text="${programDTO.subject}"></a></td>
            <td>[[${programDTO.type}]]</td>
            <td>[[${programDTO.startDate}]]</td>
            <td>[[${programDTO.endDate}]]</td>
            <td>[[${programDTO.stage}]]</td>
            <td th:text="${#temporals.format(programDTO.regiDate, 'yyyy-MM-dd HH:mm:ss')}"></td>
        </tr>
    </table>
</div>
</body>
</html>