<!--박지영-->
<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<form name="form" action="/manager/program/chugaProc" method="post">
    <input type="hidden" name="no" th:value="${returnDTO.no}">
    <table>
        <tr>
            <th>프로그램번호</th>
            <td>[[${returnDTO.no}]]</td>
        </tr>
        <tr>
            <th>시작일</th>
            <td><input type="date" name="startDate" th:value="${returnDTO.startDate}"></td>
        </tr>
        <tr>
            <th>종료일</th>
            <td><input type="date" name="endDate" th:value="${returnDTO.endDate}"></td>
        </tr>
        <tr>
            <th>제목</th>
            <td><input type="text" name="subject" th:value="${returnDTO.subject}"></td>
        </tr>
        <tr>
            <th>내용</th>
            <td>
                <textarea name="content" style="width: 200px; height: 100px;">[[${returnDTO.content}]]</textarea>
            </td>
        </tr>
        <tr>
            <th>첨부파일</th>
            <td>
                <textarea name="attachment" style="width: 200px; height: 100px;">[[${returnDTO.attachment}]]</textarea>
            </td>
        </tr>
        <tr>
            <th>진행단계</th>
            <td>[[${returnDTO.stage}]]</td>
        </tr>
        <tr>
            <th>프로그램구분</th>
            <td>
                <input type="radio" name="type" value="체험" checked>체험
                <input type="radio" name="type" value="강연" >강연
            </td>
        </tr>
        <tr>
            <th>작성일</th>
            <td>[[${returnDTO.regiDate}]]</td>
        </tr>
    </table>
    <button type="submit">확인</button>
    <button type="button">취소</button>
</form>

</body>
</html>