<!--박지영-->
<!--김태준 : html 수정-->
<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" th:href="@{/css/managerView.css}">
</head>
<body>
<div id="header">
    <h1>프로그램 수정</h1>
    <div class="home">
        <a href="/manager/home">
            <img src="https://img.icons8.com/material-outlined/24/home--v2.png" alt="home--v2" />
        </a>
    </div>
</div>
<form name="form" action="/manager/program/sujungProc" method="post" enctype="multipart/form-data">
    <input type="hidden" name="no" th:value="${returnDTO.no}">
    <table>
        <tr>
            <th>프로그램번호</th>
            <td>[[${returnDTO.no}]]</td>
        </tr>
        <tr>
            <th>시작일</th>
            <td><input type="date" name="startDate" th:value="${returnDTO.startDate}"></td>
        </tr>
        <tr>
            <th>종료일</th>
            <td><input type="date" name="endDate" th:value="${returnDTO.endDate}"></td>
        </tr>
        <tr>
            <th>제목</th>
            <td><input type="text" name="subject" th:value="${returnDTO.subject}"></td>
        </tr>
        <tr>
            <th>내용</th>
            <td>
                <textarea name="content" style="width: 200px; height: 100px;">[[${returnDTO.content}]]</textarea>
            </td>
        </tr>
        <tr>
            <th>첨부파일</th>
            <td><input type="file" name="attachmentFile"></td>
        </tr>
        <tr>
            <th>진행단계</th>
            <td>[[${returnDTO.stage}]]</td>
        </tr>
        <tr>
            <th>프로그램구분</th>
            <td>
                <input type="radio" name="type" value="체험" checked>체험
                <input type="radio" name="type" value="강연" >강연
            </td>
        </tr>
        <tr>
            <th>작성일</th>
            <td>[[${returnDTO.regiDate}]]</td>
        </tr>
    </table>
</form>
<div id="nav">
    <div onclick="sujung();" style="cursor:pointer;"><a>확인</a></div>
    <div><a th:href="@{|/manager/program/view/${returnDTO.no}|}">취소</a></div>
</div>

<script>
    function sujung() {
        document.form.submit();
    }
</script>

</body>
</html>