<!--박지영-->
<!--김태준 : html 수정-->
<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" th:href="@{/css/managerView.css}">
</head>
<body>
<div id="header">
    <h1>프로그램 상세보기</h1>
    <div class="home"><a href="/manager/home"><img src="https://img.icons8.com/material-outlined/24/home--v2.png" alt="home--v2" /></a></div>
</div>
<div class="container">
<table>
    <tr>
        <th>프로그램번호</th>
        <td>[[${returnDTO.no}]]</td>
    </tr>
    <tr>
        <th>시작일</th>
        <td>[[${returnDTO.startDate}]]</td>
    </tr>
    <tr>
        <th>종료일</th>
        <td>[[${returnDTO.endDate}]]</td>
    </tr>
    <tr>
        <th>제목</th>
        <td>[[${returnDTO.subject}]]</td>
    </tr>
    <tr>
        <th>내용</th>
        <td>[[${returnDTO.content}]]</td>
    </tr>
    <tr>
        <th>첨부파일</th>
        <td>
            <img th:src="${returnDTO.attachment}" alt="" style="max-width: 250px; height: auto;">
            <span th:if="${returnDTO.attachment == null or returnDTO.attachment.isEmpty()}">등록된 프로필 사진이 없습니다.</span>
        </td>
    </tr>
    <tr>
        <th>진행단계</th>
        <td>[[${returnDTO.stage}]]</td>
    </tr>
    <tr>
        <th>프로그램구분</th>
        <td>[[${returnDTO.type}]]</td>
    </tr>
    <tr>
        <th>작성일</th>
        <td>[[${returnDTO.regiDate}]]</td>
    </tr>
</table>
</div>
<div id="nav">
    <div><a href="/manager/program/list">목록</a></div>
    <div><a href="/manager/program/chuga">추가</a></div>
    <div><a th:href="@{|/manager/program/sujung/${returnDTO.no}|}">수정</a></div>
    <div><a th:href="@{|/manager/program/sakje/${returnDTO.no}|}">삭제</a></div>
</div>
</body>
</html>