<!--박지영-->
<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" th:href="@{/css/managerView.css}">
</head>
<body>

<div id="header">
    <h1>학교 추가</h1>
    <div class="log">로그아웃</div>
    <div class="home">
        <a href="/manager/home">
            <img src="https://img.icons8.com/material-outlined/24/home--v2.png" alt="home--v2" />
        </a>
    </div>
</div>

<form name="form" action="/manager/school/chugaProc" method="post">
    <table>
        <tr>
            <th>학교명</th>
            <td><input type="text" name="name"></td>
        </tr>
        <tr>
            <th>구분</th>
            <td>
                <select th:name="sort">
                    <option selected>===선택===</option>
                    <option th:value="중학교" th:text="중학교"></option>
                    <option th:value="고등학교" th:text="고등학교"></option>
                </select>
            </td>
        </tr>
        <tr>
            <th>전화번호</th>
            <td><input type="text" name="phone"></td>
        </tr>
        <tr>
            <th>시도</th>
            <td><input type="text" name="sido"></td>
        </tr>
        <tr>
            <th>시군구</th>
            <td><input type="text" name="sgg"></td>
        </tr>
        <tr>
            <th>위치</th>
            <td><input type="text" name="location"></td>
        </tr>
    </table>
</form>

<div id="nav">
    <div onclick="chuga();" style="cursor:pointer;"><a>확인</a></div>
    <div><a href="/manager/school/list">취소</a></div>
</div>

<script>
    function chuga() {
        document.form.submit();
    }
</script>

</body>
</html>