<!--박지영-->
<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" th:href="@{/css/managerList.css}">
</head>
<body>

<div id="container">

    <h1>학교 관리</h1>
    <div class="log">로그아웃</div>
    <div id="main">
        <div id="nav">
            <div><a href="/manager/home"><img src="https://img.icons8.com/material-outlined/24/home--v2.png" alt="home--v2"/></a></div>
            <select class="search">
                <option selected>===선택===</option>
                <option th:value="name" th:text="학교명"></option>
                <option th:value="sido" th:text="시도"></option>
                <option th:value="sgg" th:text="시군구"></option>
            </select>
            <input type="text" id="search">
            <button>search</button>
        </div>

        <div class="chuga"><a href="/manager/school/chuga">추가</a></div>

        <table>
            <thead>
            <tr>
                <th>학교명</th>
                <th>전화번호</th>
                <th>시도</th>
                <th>시군구</th>
            </tr>
            </thead>

            <tbody>
                <div th:if="${list.size() == 0}">
                    <td colspan="5">등록된 학교가 없습니다.</td>
                </div>

                <div th:unless="${list.size() == 0}">
                    <tr th:each="schoolDTO, loop:${list}">
                        <td><a th:href="@{|/manager/school/view/${schoolDTO.no}|}" th:text="${schoolDTO.name}"></a></td>
                        <td>[[${schoolDTO.phone}]]</td>
                        <td>[[${schoolDTO.sido}]]</td>
                        <td>[[${schoolDTO.sgg}]]</td>
                    </tr>
                </div>
            </tbody>

        </table>

    </div>
</div>

</body>
</html>