<!--박지영-->
<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" th:href="@{/css/managerView.css}">
</head>
<body>

<div id="header">
    <h1>학교 상세보기</h1>
    <div class="log">로그아웃</div>
    <div class="home">
        <a href="/manager/home">
            <img src="https://img.icons8.com/material-outlined/24/home--v2.png" alt="home--v2" />
        </a>
    </div>

    <div id="container">
        <table>
            <tr>
                <th>학교번호</th>
                <td>[[${returnDTO.no}]]</td>
            </tr>
            <tr>
                <th>학교명</th>
                <td>[[${returnDTO.name}]]</td>
            </tr>
            <tr>
                <th>구분</th>
                <td>[[${returnDTO.sort}]]</a></td>
            </tr>
            <tr>
                <th>전화번호</th>
                <td>[[${returnDTO.phone}]]</td>
            </tr>
            <tr>
                <th>시도</th>
                <td>[[${returnDTO.sido}]]</td>
            </tr>
            <tr>
                <th>시군구</th>
                <td>[[${returnDTO.sgg}]]</td>
            </tr>
            <tr>
                <th>위치</th>
                <td>[[${returnDTO.location}]]</a></td>
            </tr>
        </table>
    </div>
</div>

<div id="nav">
    <div><a href="/manager/school/list">목록</a></div>
    <div><a href="/manager/school/chuga">추가</a></div>
    <div><a th:href="@{|/manager/school/sujung/${returnDTO.no}|}">수정</a></div>
    <div><a th:href="@{|/manager/school/sakje/${returnDTO.no}|}">삭제</a></div>
</div>

</body>
</html>