<!--김태준-->
<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div id="main">
    <div id="header">
        <ul>
            <li>유형선택</li>
            <li>약관동의</li>
            <li>본인인증</li>
            <li>정보입력</li>
            <li>가입완료</li>
        </ul>
    </div>
    <div id="container">
        <div class="regist">
            <h1>회원가입</h1>
            <form name="form" th:action="@{/user/regist/adult/chugaProc}" method="post">
                <table border="1">
                    <tr>
                        <td>아이디</td>
                        <td><input type="text" name="id"></td>
                    </tr>
                    <tr>
                        <td>비밀번호</td>
                        <td><input type="password" name="pwd"></td>
                    </tr>
                    <tr>
                        <td>비밀번호 확인</td>
                        <td><input type="password" name="pwdChk"></td>
                    </tr>
                    <tr>
                        <td>이름</td>
                        <td><input type="text" name="name"></td>
                    </tr>
                    <tr>
                        <td>생년월일</td>
                        <td><input type="date" name="birthDate"></td>
                    </tr>
                    <tr>
                        <td>전화번호</td>
                        <td><input type="text" name="phone"></td>
                    </tr>
                    <tr>
                        <td>이메일</td>
                        <td><input type="text" name="email"></td>
                    </tr>
                    <tr>
                        <td>구분</td>
                        <td>
                            <select th:name="type">
                                <option selected>===선택===</option>
                                <option th:value="학부모" th:text="학부모"></option>
                                <option th:value="교사" th:text="교사"></option>
                                <option th:value="일반" th:text="일반"></option>
                            </select>
                        </td>
                    </tr>
                    <tr align="center">
                        <td colspan="2"><button>등록</button></td>
                    </tr>
                </table>
            </form>
        </div>
        <button>다음</button>
        <button>취소</button>
    </div>
</div>
<div id="footer">

</div>
</body>
</html>