<!--박지영-->
<!--김태준 : CSS 추가-->
<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>PikJ 관리자 사이트</title>
    <link rel="stylesheet" th:href="@{/css/managerHome.css}">
</head>

<body>
    <header>
        <div class="logo">
            <img class="log" src="/img/logo.webp" alt="로고" style="width: 100px; height: auto;" >
        </div>
        <div class="title">관리자 페이지</div>
        <div class="login">로그인</div>
    </header>

    <div class="container">
        <div class="sidebar"></div>
            <div class="menu-box">
                <div class="menu-item1">관리 목록</div>
                <div class="menu-item" onclick="location.href='/manager/member/list';"><a href="/manager/member/list">내담자 관리</a></div>
                <div class="menu-item" onclick="location.href='/manager/counselor/list';"><a href="/manager/counselor/list">상담사 관리</a></div>
                <div class="menu-item" onclick="location.href='/manager/school/list';"><a href="/manager/school/list">학교 관리</a></div>
                <div class="menu-item" onclick="location.href='/manager/management/list';"><a href="/manager/management/list">상담 리스트 관리</a></div>
                <div class="menu-item" onclick="location.href='/manager/program/list';"><a href="/manager/program/list">프로그램 관리</a></div>
                <div class="menu-item" onclick="location.href='/manager/notice/list';"><a href="/manager/notice/list">공지사항 관리</a></div>
            </div>
        <div class="sidebar right"></div>
    </div>
</body>

</html>