<!--김태준: html, 박지영: css 추가-->
<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>PikJ 관리자 사이트</title>
    <link rel="stylesheet" th:href="@{/css/managerView.css}">
</head>

<body>
    <div id="header">
        <h1>상담자 상세보기</h1>
        <div class="home">
            <a href="/manager/home">
                <img src="https://img.icons8.com/material-outlined/24/home--v2.png" alt="home--v2"/>
            </a>
        </div>

        <div id="container">
            <table>
                <tr>
                    <th>회원번호</th>
                    <td>[[${returnDTO.no}]]</td>
                </tr>
                <tr>
                    <th>아이디</th>
                    <td>[[${returnDTO.id}]]</td>
                </tr>
                <tr>
                    <th>이름</th>
                    <td>[[${returnDTO.name}]]</td>
                </tr>
                <tr>
                    <th>생년월일</th>
                    <td>[[${returnDTO.birthDate}]]</td>
                </tr>
                <tr>
                    <th>전화번호</th>
                    <td>[[${returnDTO.phone}]]</td>
                </tr>
                <tr>
                    <th>이메일</th>
                    <td>[[${returnDTO.email}]]</td>
                </tr>
                <tr>
                    <th>프로필사진</th>
                    <td>
                        <img th:src="${returnDTO.photo}" alt="" style="max-width: 250px; height: auto;">
                        <span th:if="${returnDTO.photo == null or returnDTO.photo.isEmpty()}">등록된 프로필 사진이 없습니다.</span>
<!--                        [[${returnDTO.photo}]]-->
                    </td>
                </tr>
                <tr>
                    <th>소개</th>
                    <td>[[${returnDTO.intro}]]</td>
                </tr>
                <tr>
                    <th>학력및자격</th>
                    <td>[[${returnDTO.license}]]</td>
                </tr>
                <tr>
                    <th>가입일</th>
                    <td th:text="${#temporals.format(returnDTO.regiDate, 'yyyy-MM-dd HH:mm:ss')}"></td>
                </tr>
            </table>
        </div>
    </div>

    <div id="nav">
        <div><a href="/manager/counselor/list">목록</a></div>
        <div><a th:href="@{|/manager/counselor/sujung/${returnDTO.no}|}">수정</a></div>
        <div>
            <a href="#" onclick="sakje();">
                <form id="sakjeForm" method="post" action="/manager/counselor/sakjeProc">
                    <input type="hidden" name="no" th:value="${returnDTO.no}">
                    <input th:if="${returnDTO.photo != null}" type="hidden" name="photo" th:value="${returnDTO.photo}">
                </form>삭제
            </a>
        </div>
    </div>

    <br>
    <br>
    <hr>
    <h1>상담내역</h1>

    <form name="form" method="get" th:action="@{|/manager/counselor/view/${returnDTO.no}|}" style="display: inline;">
<!--        <div id="nav">-->
            <select class="search" name="searchType">
                <option value="" th:selected="${searchType == null}">===선택===</option>
                <option value="member.name" th:selected="${searchType == 'member.name'}">내담자이름</option>
                <option value="member.phone" th:selected="${searchType == 'member.phone'}">내담자전화번호</option>
            </select>
            <input type="text" name="keyword" id="search" th:value="${keyword}" placeholder="검색어 입력">
            <button type="submit">search</button>
<!--        </div>-->
    </form>

    <table>
        <thead>
        <tr>
            <th>내담자이름</th>
            <th>내담자전화번호</th>
            <th>상담일</th>
            <th>상담구분</th>
            <th>작성일</th>
        </tr>
        </thead>

        <tbody>
        <div th:if="${list.size() == 0}">
            <td colspan="5">등록된 상담 리스트가 없습니다.</td>
        </div>

        <div th:unless="${list.size() == 0}">
            <tr th:each="managementDTO, loop:${list}">
                <td><a th:href="@{|/manager/management/view/${managementDTO.no}|}" th:text="${managementDTO.member.name}"></a></td>
                <td>[[${managementDTO.member.phone}]]</td>
                <td>[[${managementDTO.meetingDate}]]</td>
                <td>[[${managementDTO.checks}]]</td>
                <td th:text="${#temporals.format(managementDTO.regiDate, 'yyyy-MM-dd HH:mm:ss')}"></td>
            </tr>
        </div>
        </tbody>
    </table>

    <div th:replace="header/paging :: paging"></div>

    <script>
        function sakje() {
            if (confirm("삭제하시겠습니까?")) {
                alert("삭제되었습니다.");
                document.getElementById("sakjeForm").submit();
            }
        }
    </script>
</body>
</html>