<!--박지영-->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<a href="/">로고</a> <a href="/login">로그인</a> <a href="/regist">회원가입</a><br>

<table>
    <tr>
        <th><a href="/management/chugaNotice">상담신청</a></th>
        <th>상담관리</th>
        <th>프로그램</th>
        <th>안내사항</th>
    </tr>
    <tr>
        <td></td>
        <td>내담자</td>
        <td>체험</td>
        <td>소개</td>
    </tr>
    <tr>
        <td></td>
        <td>상담사</td>
        <td>강연</td>
        <td>공지사항</td>
    </tr>
</table>

</body>
</html>