<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<a href="/">로고</a><br>

<form name="form" action="/management/client/chugaProc" method="post">
    <input type="hidden" name="member_no" th:value="${returnDTO.no}">
    <input type="hidden" name="counselor_no" th:value="${defaultCounselorDTO.no}">
    <input type="date" name="meetingDate" value="1900-01-01" hidden="hidden">
    <input type="hidden" name="address" value="-">
    <input type="hidden" name="addressDetail" value="-">
    <input type="hidden" name="comments" value="-">
    <input type="hidden" name="attachment" value="-">
    <input type="hidden" name="checks" value="검토중">
    <table>
        <tr>
            <td>이름</td>
            <td>[[${returnDTO.name}]]</td>
        </tr>
        <tr>
            <td>생년월일</td>
            <td>[[${returnDTO.birthDate}]]</td>
        </tr>
        <tr>
            <td>전화번호</td>
            <td>[[${returnDTO.phone}]]</td>
        </tr>
        <tr>
    <!--        th:if문으로 학생이면 학생이름 고정시키기-->
            <td>자녀 및 담당 학생 이름</td>
            <td><input type="text" name="studentName"></td>
        </tr>
        <tr>
            <td>학교</td>
            <td>
                <select th:name="school_no" >
                    <option selected>===선택===</option>
                    <th:block th:each="schoolDTO, loop:${schoolList}">
                        <option th:text="${schoolDTO.name}" th:value="${schoolDTO.no}"></option>
                    </th:block>
                </select>
            </td>
        </tr>
        <tr>
            <td>학년</td>
            <td><input type="number" name="grade"></td>
        </tr>
        <tr>
            <td>고민내용</td>
            <td><textarea name="concern" style="width: 200px; height: 100px;"></textarea></td>
        </tr>
        <tr>
            <td><button>제출</button></td>
        </tr>
    </table>
</form>

</body>
</html>