<!--김태준-->
<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<table>
    <tr>
        <th>순번</th>
        <th>상담사</th>
        <th>상담일</th>
        <th>처리 상태</th>
        <th>상담 내역 보기</th>
    </tr>

    <tr th:each="managementDTO, loop : ${list}">
        <td>[[${loop.count}]]</td>
        <td>[[${managementDTO.counselor.name}]]</td>
        <td>[[${managementDTO.meetingDate}]]</td>
        <td>[[${managementDTO.checks}]]</td>
        <td><div><a th:href="@{|/management/client/view/${managementDTO.no}|}">버튼</a></div></td>
    </tr>

</table>
</body>
</html>