<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<form name="form" action="/management/client/sujungProc" method="post">
    <input type="hidden" name="no" th:value="${returnDTO.no}">
    <input type="hidden" name="member_no" th:value="${returnDTO.member.no}">
    <input type="hidden" name="counselor_no" th:value="${returnDTO.counselor.no}">
    <input type="hidden" name="school_no" th:value="${returnDTO.school.no}">
    <input type="hidden" name="meetingDate" th:value="${returnDTO.meetingDate}">
    <input type="hidden" name="address" th:value="${returnDTO.address}">
    <input type="hidden" name="addressDetail" th:value="${returnDTO.addressDetail}">
    <input type="hidden" name="checks" th:value="${returnDTO.checks}">
<table>
    <tr>
        <th>상담번호</th>
        <td>[[${returnDTO.no}]]</td>
    </tr>
    <tr>
        <th>내담자</th>
        <td>[[${returnDTO.member.name}]]</td>
    </tr>
    <tr>
        <th>상담사</th>
        <td>[[${returnDTO.counselor.name}]]</td>
    </tr>
    <tr>
        <th>학교</th>
        <td>
            <select th:name="school_no" >
                <option selected>===선택===</option>
                <th:block th:each="schoolDTO, loop:${schoolList}">
                    <option th:text="${schoolDTO.name}" th:value="${schoolDTO.no}"></option>
                </th:block>
            </select>
        </td>
    </tr>
    <tr>
        <th>학년</th>
        <td><input type="number" name="grade" th:value="${returnDTO.grade}"></td>
    </tr>
    <tr>
        <th>학생 이름</th>
        <td><input type="text" name="studentName" th:value="${returnDTO.studentName}"></td>
    </tr>
    <tr>
        <th>고민 내용</th>
        <td><input type="text" name="concern" th:value="${returnDTO.concern}"></td>
    </tr>
    <tr>
        <th>상담일</th>
        <td>[[${returnDTO.meetingDate}]]</td>
    </tr>
    <tr>
        <th>상담 지역</th>
        <td>
            [[${returnDTO.address}]]<br>
            [[${returnDTO.addressDetail}]]
        </td>
    </tr>
    <tr>
        <th>구분</th>
        <td>[[${returnDTO.checks}]]</td>
    </tr>
    <tr>
        <th>작성일</th>
        <td th:text="${#temporals.format(returnDTO.regiDate, 'yyyy-MM-dd')}"></td>
    </tr>
</table>
</form>

<div onclick="sujung();" style="cursor:pointer;"><a>수정</a></div>
<div><a th:href="@{|/management/client/view/${returnDTO.no}|}">취소</a></div>

<script>
    function sujung() {
        document.form.submit();
    }
</script>

</body>
</html>